@media screen and (max-width: 426px) {

    body {
        background: linear-gradient(to bottom, #8A2BE2, #FF69B4, #FFA07A);
        margin: 0;
        padding: 0;
        color: #FFFACD;
    }

    p{
        margin-left: 5px;
    }

}